target
.env
event_watcher/scripts/*
!event_watcher/scripts/example.py
!event_watcher/scripts/utils.py
!event_watcher/scripts/__init__.py
!event_watcher/scripts/uptime.py
!event_watcher/scripts/page_update.py
!event_watcher/scripts/new_post.py